@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', "sans-serif";
    margin: 0;
}

:root{
    --lightOne: #f1f5f9;
    --lightTwo: #e2e8f0;
    --lightThree: #cbd5e1;
    --darkOne: #1e293b;
    --darkTwo: #334155;
    --darkThree: #475569;
}

body{
    background-image: url();
    background-size: cover;
    background-color: var(--darkTwo);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header{
    color: var(--lightTwo);
    font-size: 1.8rem;
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    height: 80vh;
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.45);
}

footer{
    color: var(--lightTwo);
}

form{
    display: flex;
    flex-direction: column;
}

.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60%;
    font-size: 1.3rem;
}

.read{
    margin-top: 0px;
}

.read input[type="checkbox"]{
    height: 10px;
    position: relative;
    left: 10%;
    transform: scale(3.0);
}

button{
    font-size: 5rem;
    border-radius: 5%;
    text-decoration: none;
    background-color: var(--darkTwo);
    color: var(--lightTwo);
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addBtn{
    height: 15vh;
    width: 15vh;
}

#addBtn:hover{
    transform: rotate(90deg);
    color: var(--darkTwo);
    background-color: var(--lightTwo);
    cursor: pointer;
}

.library{
    display: grid;
    position: relative;
    top: -10%;
    height: 50vh;
    width: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    
}

.book{
    width: 150px;
    height: 150px;
    background-color: var(--darkTwo);
    color: var(--darkTwo);
    display: grid;
    grid-template-rows: 40px 1fr 3fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    position: relative;
}

.book > * {
    width: 100%;
    display: flex;
    justify-content: center;
}

.book i{
    font-size: 2.5rem;

}


.active{
    color: var(--lightOne);
}

.book > .close{
    font-size: 10px;
    background-color: var(--darkTwo);
    width: 15px;
    height: 15px;
    color: var(--darkTwo );
    position: absolute;
    display: flex;
    align-items: center;
    justify-self: center;
    right: 0%;
    top: 0%;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.close.active{
    background-color: var(--lightOne);
}

.close.active:hover{
    transform: rotate(90deg);
}